.TransitMap {
  position: relative;
  background: #121212;
  flex: 6;
}

/**/

.TransitMap .navigationControl {
  position: absolute;
  /*rig*/
  /*display: flex;*/
  /*position: relative;*/
  /*width: 1.5em;*/
  /*width: 29px;*/
  width: 1.5em;
  top: 1.25em;
  right: calc(1em + 2px);  
  /*z-index: 1000;*/
  /*pointer-events: auto;*/
  /*border: 1px solid red;*/
  cursor: move;
}

.TransitMap .navigationControl .mapboxgl-ctrl.mapboxgl-ctrl-group {
  border-radius: 0;
  box-shadow: none;
  /*background: #222222;*/
  background: transparent;
}

.TransitMap .navigationControl .mapboxgl-ctrl.mapboxgl-ctrl-group button {
  filter: invert(1); /*!!!!*/
  /**/
  background: #dddddd;
  border: 1px solid #a2a2a2;
  
  margin-bottom: 0.5em;
  font-size: 1em;
  line-height: 1em;
  width: 1.5em;
  height: 1.5em;
  /*box-sizing: content-box;*/
}

/**/

/*.TransitMap .controls {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 1.25em;
  right: calc(1em + 2px);
}

.TransitMap .controls div {
  position: relative;
  box-sizing: content-box;
  display: flex;
  margin-bottom: 1em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  user-select: none;
}

.TransitMap .controls div .control {
  box-sizing: content-box;
  height: 1.5em;
  position: absolute;
  background: #222222;
  padding: 0;
  margin: auto;
  color: white;
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  border: 1px solid #5D5D5D;
  width: 100%;
}*/

/**/

.TransitMap .tooltip {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  color: white;
  padding: 0.5em 0.75em;
  margin: 1em;
  margin-top: 1.25em;
  margin-left: calc(1em + 1px);
  margin-right: calc(5.5em - 2px);
  max-width: 768px;
  text-transform: capitalize;
  border: 1px solid white;
  background-color: rgba(18, 18, 18, 0.75);
  display: flex;
  transition: opacity 0.25s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.TransitMap .tooltip .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 16em;
  min-width: 208px;
  padding: 0;
}

.TransitMap .tooltip .column.right {
  flex: auto;
  text-transform: none;
  min-width: unset;
  max-width: unset;
  overflow: hidden;
}

.TransitMap .tooltip .column .row {
  display: flex;
  padding: 0.5em 0;
}

.TransitMap .tooltip .column .row {
  line-height: 1.1em;
}

.TransitMap .tooltip .column .row div {
  padding-right: 1em;
  line-height: 1.1em;
}

.TransitMap .tooltip .column .row div.left {
  flex: 2;
}

.TransitMap .tooltip .column .row div.right {
  flex: 3;
}

.TransitMap .tooltip .column .row span {
  font-size: 0.8em;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.TransitMap .tooltip .column .row div.route span {
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.TransitMap .tooltip .column .row div.status span {
  font-family: 'Fira Sans', sans-serif;
}

.TransitMap .tooltip .close {
  position: absolute;
  display: flex;
  top: -1px;
  right: calc(-1.5em - 2px);
  width: 1.5em;
  height: 1.5em;
  border: 1px solid white;
  background-color: rgba(18, 18, 18, 0.75);
  transition: border-color 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.TransitMap .tooltip .close div {
  font-size: 0.8em;
  text-align: center;
  line-height: 1.1em;
  width: 1em;
  height: 1em;
  margin: auto;
  pointer-events: auto;
  cursor: pointer;
}

/**/

.TransitMap > div > div > div {
  width: 100%;
  height: 100%;
}

.TransitMap .mapbox {
  /*background: #cde;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*z-index: 1;*/
}

/**/

.TransitMap svg {
  position: absolute;
  overflow: visible;
  z-index: 2;
  /*pointer-events: none;*/
}

.TransitMap svg g.other,
.TransitMap svg g.increased,
.TransitMap svg g.no.change,
.TransitMap svg g.modified,
.TransitMap svg g.reduced,
.TransitMap svg g.eliminated {
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.25, 1, 0.5, 1);
}

.TransitMap svg g.other path.highlight,
.TransitMap svg g.increased path.highlight,
.TransitMap svg g.no.change path.highlight,
.TransitMap svg g.modified path.highlight,
.TransitMap svg g.reduced path.highlight,
.TransitMap svg g.eliminated path.highlight,
.TransitMap svg g.other rect.target,
.TransitMap svg g.increased rect.target,
.TransitMap svg g.no.change rect.target,
.TransitMap svg g.modified rect.target,
.TransitMap svg g.reduced rect.target,
.TransitMap svg g.eliminated rect.target {
  pointer-events: none;
}

.TransitMap svg.other g.other,
.TransitMap svg.increased g.increased,
.TransitMap svg.no.change g.no.change,
.TransitMap svg.modified g.modified,
.TransitMap svg.reduced g.reduced,
.TransitMap svg.eliminated g.eliminated {
  opacity: 1;
}

.TransitMap svg.other g.other path.highlight,
.TransitMap svg.increased g.increased path.highlight,
.TransitMap svg.no.change g.no.change path.highlight,
.TransitMap svg.modified g.modified path.highlight,
.TransitMap svg.reduced g.reduced path.highlight,
.TransitMap svg.eliminated g.eliminated path.highlight,
.TransitMap svg.other g.other rect.target,
.TransitMap svg.increased g.increased rect.target,
.TransitMap svg.no.change g.no.change rect.target,
.TransitMap svg.modified g.modified rect.target,
.TransitMap svg.reduced g.reduced rect.target,
.TransitMap svg.eliminated g.eliminated rect.target {
  pointer-events: auto;
}

/*.TransitMap svg g.spotlight {
  animation: fadein 0.125s cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}*/

.TransitMap svg path {
  cursor: pointer;
}

.TransitMap svg path.highlight {
  cursor: pointer;
}

/* g g */
.TransitMap svg g.labels {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 500;
  transition: none;
  /*transition: opacity 0.25s cubic-bezier(0.25, 1, 0.5, 1);*/
  opacity: 1;
}

/* g g */
.TransitMap svg g.labels.dim {
  opacity: 0.5;
}

/**/

/*@media screen and (max-width: 512px) {*/
/*@media screen and (max-width: 768px) {*/
@media screen and (max-width: 840px) {
  .TransitMap .tooltip {
    flex-direction: column;
  }
  .TransitMap .tooltip .column {
    width: unset;
  }
  .TransitMap .tooltip .column .row {
    padding: 0.25em 0;
  }
  .TransitMap .tooltip .column .row div.route span {
    line-height: 1em;
  }
}
