.TransitMap {
  background: #121212;
  flex: 6;
}

.TransitMap .controls {
  position: absolute;
  display: flex;
  margin: 1em;
  flex-direction: column;
  top: 0;
  right: 0;
}

.TransitMap .controls .control {
  box-sizing: border-box;
  display: flex;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0 0.35em;
  text-align: center;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
  background: #333;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

.TransitMap .tooltip {
  position: absolute;
  pointer-events: none;
  color: white;
  padding: 0.25em;
  margin: 0 1em;
  font-size: 1.25em;
  text-transform: capitalize;
  border: 1px solid white;
  background-color: rgba(18, 18, 18, 0.75);
  display: flex;
  flex-direction: column;
}

.TransitMap .tooltip div {
  font-size: 0.8em;
}

.TransitMap .tooltip .route {
  font-weight: bold;
}

.TransitMap svg path {
  cursor: pointer;
}

.TransitMap svg path.highlight {
  cursor: pointer;
}
