.TransitMap {
  position: relative;
  background: #121212;
  flex: 6;
}

/**/

.TransitMap .controls {
  position: absolute;
  display: flex;
  margin: 1em;
  flex-direction: column;
  top: 0;
  right: 0;
}

.TransitMap .controls .control {
  box-sizing: border-box;
  display: flex;
  font-size: 1em;
  margin-bottom: 0.5em;
  padding: 0 0.35em;
  text-align: center;
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
  background: #333;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

/**/

.TransitMap .tooltip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  color: white;
  padding: 0.25em 0.5em;
  margin: 1em;
  margin-right: 4.5em;
  max-width: 768px;
  text-transform: capitalize;
  border: 1px solid white;
  background-color: rgba(18, 18, 18, 0.5);
  display: flex;
}

.TransitMap .tooltip .column {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 16em;
  min-width: 192px;
  padding: 0 0.25em;
}

.TransitMap .tooltip .column.right {
  flex: auto;
  min-width: unset;
  max-width: unset;
}

.TransitMap .tooltip .column .row {
  display: flex;
  padding: 0.5em 0;
}

.TransitMap .tooltip .column .row div.left {
  flex: 1;
}

.TransitMap .tooltip .column .row div.right {
  flex: 2;
}

.TransitMap .tooltip .column .row {
  line-height: 0.9em; 
}

.TransitMap .tooltip .column .row div {
  line-height: 0.9em;
}

.TransitMap .tooltip .column .row span {
  font-size: 0.7em;
}

.TransitMap .tooltip .column .row div.route span {
  font-size: 1em;
  font-weight: bold;
}

.TransitMap .tooltip .close {
  position: absolute;
  display: flex;
  top: -1px;
  right: calc(-1em - 2px);
  width: 1em;
  height: 1em;
  border: 1px solid white;
  background-color: rgba(18, 18, 18, 0.5);
}

.TransitMap .tooltip .close div {
  font-size: 0.6em;
  text-align: center;
  line-height: 1em;
  width: 1em;
  height: 1em;
  margin: auto;
  pointer-events: auto;
  cursor: pointer;
}

/**/

.TransitMap svg {
  position: absolute;
  overflow: visible;
}

.TransitMap svg g.other,
.TransitMap svg g.increased,
.TransitMap svg g.nochange,
.TransitMap svg g.modified,
.TransitMap svg g.reduced,
.TransitMap svg g.eliminated {
  opacity: 0;
}

.TransitMap svg g.other path.highlight,
.TransitMap svg g.increased path.highlight,
.TransitMap svg g.nochange path.highlight,
.TransitMap svg g.modified path.highlight,
.TransitMap svg g.reduced path.highlight,
.TransitMap svg g.eliminated path.highlight,
.TransitMap svg g.other rect.target,
.TransitMap svg g.increased rect.target,
.TransitMap svg g.nochange rect.target,
.TransitMap svg g.modified rect.target,
.TransitMap svg g.reduced rect.target,
.TransitMap svg g.eliminated rect.target {
  pointer-events: none;
}

.TransitMap svg.other g.other,
.TransitMap svg.increased g.increased,
.TransitMap svg.nochange g.nochange,
.TransitMap svg.modified g.modified,
.TransitMap svg.reduced g.reduced,
.TransitMap svg.eliminated g.eliminated {
  opacity: 1;
}

.TransitMap svg.other g.other path.highlight,
.TransitMap svg.increased g.increased path.highlight,
.TransitMap svg.nochange g.nochange path.highlight,
.TransitMap svg.modified g.modified path.highlight,
.TransitMap svg.reduced g.reduced path.highlight,
.TransitMap svg.eliminated g.eliminated path.highlight,
.TransitMap svg.other g.other rect.target,
.TransitMap svg.increased g.increased rect.target,
.TransitMap svg.nochange g.nochange rect.target,
.TransitMap svg.modified g.modified rect.target,
.TransitMap svg.reduced g.reduced rect.target,
.TransitMap svg.eliminated g.eliminated rect.target {
  pointer-events: auto;
}

.TransitMap svg path {
  cursor: pointer;
}

.TransitMap svg path.highlight {
  cursor: pointer;
}

/**/

@media screen and (max-width: 512px) {
  .TransitMap .tooltip .column.right {
    display: none;
  }
  .TransitMap .tooltip .column .row {
    padding: 0.125em 0;
  }
}
