.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #333;
}

.App .panel {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0.5em 1em;
  color: white;
}

.App .panel .title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0.25em;
}

.App .panel .subtitle {
  margin-bottom: 1em;
}

.App .panel .controls {
}

.App .panel .legend {
}

.App .panel .legend .item {
  display: flex;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  font-size: 0.8em;
  cursor: pointer;
}
.App .panel .legend .item:last-of-type {
  margin-bottom: 0;
}

.App .panel .legend .item .swatch {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.App .panel .legend .item .label {
  text-transform: capitalize;
  white-space: nowrap;
  user-select: none;
  line-height: 1em;
}

.App .panel .search {
  display: flex;
  margin-top: 1em;
  overflow: hidden;
}

.App .panel .search .react-autosuggest__container {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container {
  flex: auto;
  overflow: scroll;
  margin: 0.5em 0;
}

.App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container ul li .suggestion {
  padding: 0.25em 0;
  cursor: pointer;
}

.App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container ul li .suggestion .suggestionBorder {
  border: 1px solid white;
  padding: 0.25em;
  display: flex;
  background: #333;
}

.App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container ul li .suggestion.selected .suggestionBorder  {
  background: #121212;
}

.App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container ul li .suggestion .status {
  text-transform: capitalize;
  margin: auto;
  margin-right: 0;
}

.App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container ul li .suggestion.selected .label {
  font-weight: bold;
}

.App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container ul li .suggestion .label {
  font-size: 0.8em;
}

.App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container ul li .suggestion .status {
  font-size: 0.6em;
}

@media screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .App .panel {
    width: unset;
    min-height: 140px;
  }

  .App .panel .controls {
    display: flex;
  }

  .App .panel .legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container {
    position: absolute;
    z-index: 2;
    display: block;
    margin-top: 2em;
    width: calc(100vw - 2em);
    max-height: 20em;
  }

  .App .panel .search .react-autosuggest__container .react-autosuggest__suggestions-container ul li .suggestion {
    background: rgba(18, 18, 18, 0.5);
  }
}